.container {
    display: flex;
    gap: 50px;
    padding: 11px;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categories-iphone,
.categories-notebook,
.categories-watch {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.categories-iphone > img,
.categories-notebook >img,
.categories-watch >img{
   width: 180px;
}

.product {
    width: 250px;
    padding-left: 50px;
}

.button {
    background-color: black;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    width: 150px;
    border: 1px solid black;
    cursor: pointer;
}